%div.container
  %div
    %span.locodineTitle
      LOCODINE
    %span.titleAttatchment
      Easy. Convenient. Fast.

  %div.preparagraph
    Locodine is an exclusive service provided to help reserve and book high-class restaurants in Tokyo.

  %div.aboutFollowing
    It all started with friends asking to help reserve top-notch restaurants that did not
    take reservations from overseas customers. Japanese culture embodies a strict rule
    against timely promises like reservations - and to top-notch restaurants, time means
    everything. Cancellation after the designated time period results in fees - that are
    more difficult to charge against overseas customers. Only through hotel concierges
    would restaurants take reservations from foreign customers. High quality
    restaurants that required booking months ahead of time were extremely difficult to reserve for.

  %div.aboutFollowing
    Until the creation of Locodine, customers had to go through hotel concierges to book
    restaurants that often resulted in missing reservations and complications. Locodine
    will make the reservation and notify immediately upon success. The whole process is
    speedy and smooth with secure online payment services.

  %div.aboutFollowing
    Locodine makes reservations
    %strong
      easy, convenient,
    and
    %strong
      fast.
    Exclusive members are provided with additional assistance in dining itinerary building.
