%div.container
  %h3
    %strong
      Booking Procedures
  %div.discriptions
    Booking procedures are done easy through Locodine
    %ol
      %li
        %strong
          Sign up
        for a membership and fill in an inquiry form with a list of restaurants you would like to
        book during the time of your visit to Tokyo. Please make sure to specify the dates of your visit.
      %li
        %strong
          Pay for your reservation.
        %br
        Each reservation is charged with a 10% service fee and with a cancellation deposit fee prompted
        by each restaurant. Upon cancellation, cancellation deposits will be paid to the individual
        restaurants and are not available for refunds. All payments are made online securely through Paypal.
        For other questions, please
        %span.inlineLink
          = link_to 'contact us.', inquiry_index_path
      %li
        Reservations will be made immediately upon restaurant business hours.
      %li
        Locodine will email a reservation confirmation form to your email.
      %li
        Show up
        %strong
          ON-TIME
        to your reservation and enjoy the amazing meal.

  %div.followingBox
    Customer service in English, Chinese, Korean and Japanese will be available during business hours of 11am - 10pm.

  %div.followingBox
    *For Exclusive Members
    %br
    Exclusive Members are provided with a full assistance to dining itinerary building.
