%div.mainImg
  %div.mainPhrase
    Booking local
    %br
    restaurants made easy.
    %br
    Locodine.
%div.container
  %div.infoBox
    %div.leftBox
      %div.address.infoElm
        500 Terry Francois Street,
        %br
        San Francisco, CA 94158  |  1-800-000-0000
      %div.sns.infoElm
        %i.fa.fa-facebook.fa-2x
        %i.fa.fa-twitter.fa-2x
        %i.fa.fa-tripadvisor.fa-2x
        %i.fa.fa-instagram.fa-2x
    %div.rightBox
      %div.mailBox.infoElm
        Join our mailing list
        %br
        Never miss an update

    %div.clear
