// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//home_img
.mainImg{
  width:100%;
  height:544px;
  background-size: 100%,544px;
  background-image: image-url('home_img.jpg');
  background-repeat: no-repeat;
  position:relative
}
.mainPhrase {
  width:1000px;
  height:320px;
  text-align: center;
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
  font-size: 85px;
  font-family: serif;
  font-style: italic;
  color: #fff;
}


.followingBox{
  margin-top: 50px;
  font-size:20px;
}

//about
.locodineTitle{
  font-size: 50px;
  font-weight: bold;
}

.titleAttatchment{
  font-size: 30px;
  margin-left: 15px;
  font-weight: bold;
}

.preparagraph {
  font-size: 27px;
  margin-top: 20px;
  font-weight: bold;
}
.aboutFollowing {
  margin-top: 20px;
  font-size: 21px;
}
