%div.container
  %div.infoBox
    %div.leftBox
      %div.address.infoElm

      %div.sns.infoElm
        -# %i.fa.fa-facebook.fa-2x
        -# %i.fa.fa-twitter.fa-2x
        -# %i.fa.fa-tripadvisor.fa-2x
        -# %i.fa.fa-instagram.fa-2x
    %div.rightBox
      %div.mailBox.infoElm


    %div.clear
    %div
      Font made from
      %a{href: "http://www.onlinewebfonts.com"}
        oNline Web Fonts
        is licensed by CC BY 3.0
